*{
    margin:0;
    padding:0;
}

/*navbar styling*/

.menu-bar
{
    min-height:8%;
    background-color:rgb(85, 210, 255);
}

/*Logo image width styling*/

.menu-bar img {
    width:250px;  
  
}

/*navigation menu items color*/

.nav-link
{
color:white;
}

/*Color hovering over navigation items*/

.nav-link:hover
{
color:black;
}

/*navbar toggle styling*/

.navbar-toggler .fa
{
    color:white;
}

.navbar-toggler .fa
{
outline: none !important;
}

/*slide caption styling*/

#slide1
{
    color:orangered;
    font-size:150px;
    font-family:'Times New Roman', Times, serif;
    margin-top:auto;
    margin-bottom: auto;
    
}

/* carousel images styling*/

.carousel-inner img {
    width:100%;
    height:100%;
    
  }

   /*footer styling*/

   footer {
    background-color:#3f3f3f;
    color:#d5d5d5;
    margin-top: auto;
   }
   hr.light {
       border-top: 1px solid #d5d5d5;
       width: 75%;
       margin-left: auto;
       margin-right: auto;
       
   }